<%- include('partials/header', { title: 'Books List', headerTitle: 'Books List' }) %>

<div class="container my-4" id="addBookHere">

    <div class="container form-container mt-5" id="addBook">
        <form action="/add" method="post">
            <fieldset>
                <legend>Add New Book</legend>
                
                <div class="mb-3 form-group">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" name="title" class="form-control" placeholder="Title" required>
                </div>
                
                <div class="mb-3 form-group">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" id="author" name="author" class="form-control" placeholder="Author" required>
                </div>
                
                <div class="mb-3 form-group">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="number" id="rating" name="rating" class="form-control" min="1" max="5" placeholder="Rating" required>
                </div>
                
                <div class="mb-3 form-group">
                    <label for="recency" class="form-label">Date Read</label>
                    <input type="date" id="recency" name="recency" class="form-control" placeholder="Date Read" required>
                </div>
                
                <div class="mb-3 form-group">
                    <label for="notes" class="form-label">Notes</label>
                    <textarea id="notes" name="notes" class="form-control" rows="3" placeholder="Additional notes"></textarea>
                </div>
                
                <div class="mb-3 form-group">
                    <label for="isbn" class="form-label">ISBN</label>
                    <input type="text" id="isbn" name="isbn" class="form-control" placeholder="ISBN">
                </div>
        
                <button type="submit" class="btn btn-success">Add Book</button>
            </fieldset>
        </form>
        </div>
        <div class="container mt-4">
        <a href="/" class="btn btn-secondary">Back to Book List</a>
        </div>
</div>

<%- include('partials/footer') %>